@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
  background-color: rgb(17, 18, 19) !important;
  color: rgb(234, 241, 255);
  font-family: 'Play', sans-serif;
}

.navbar {
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 background-color: rgba(46, 54, 62, 0.463) !important;
 box-shadow: 0px 1px 2px 1px rgba(136, 41, 251, 0.905);
}

li {
  list-style-type: none;
}

.form-control{
  border-color: rgba(135, 41, 251, 0.778) !important;
}

.btn-outline-info {
  border-color: rgba(135, 41, 251, 0.778) !important;
  color: rgba(135, 41, 251, 0.778) !important;
}

.text-nav {
  color: rgba(174, 36, 223, 0.742) !important;
}

.dropdown-menu {
  background-color: rgba(46, 54, 62, 1) !important;
}

.dropdown-item {
  height: 100% !important;
  background-color: rgba(46, 54, 62, 0.463) !important;
  color: rgba(174, 36, 223, 0.742) !important;
  &:hover {
    background-color: rgba(46, 54, 62, 0.463) !important;
    color: rgba(174, 36, 223, 0.742) !important;
  }
}
